{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Usuarios</title>
    <link href="{% static 'css/roles.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    <header>
        <h1>Gestión de Usuarios</h1>
        <nav>
            <ul>
                <li><a href="../html/index.html">Inicio</a></li>
                <li><a href="../html/productos.html">Catálogo</a></li>
                <li><a href="../html/ofertas.html">Ofertas</a></li>
                <li><a href="../html/contacto.html">Contacto</a></li>
                <li><a href="../html/login.html">Login</a></li>
            </ul>
        </nav>
    </header>

    <!-- Botón para agregar un nuevo usuario -->
   <!-- <button id="agregar-usuario">Agregar Usuario</button>-->


    <!-- Modal para editar usuario -->
    <div id="modal-editar" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Editar Usuario</h2>
            <form id="editar-form">
                <label for="edit-usuario">Usuario:</label>
                <input type="text" id="edit-usuario" name="edit-usuario" required>

                <label for="edit-contrasena">Contraseña:</label>
                <input type="password" id="edit-contrasena" name="edit-contrasena" required>

                <button type="submit">Guardar Cambios</button>
            </form>
        </div>
    </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rol</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Administrador</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Empleado</td>
                </tr>
            </tbody>
        </table>
    <footer>
        <div class="redes-sociales">
            <a href="#"><img src="../img/iconos/icon/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="../img/iconos/icon/whatsapp.png" alt="WhatsApp"></a>
            <a href="https://www.facebook.com/people/MTA-El-Portal-De-La-Moda/100090363232444/?mibextid=ZbWKwL"><img src="../img/iconos/icon/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="../img/iconos/icon/ubicacion.png" alt="Ubicación"></a>
            <a href="#"><img src="../img/iconos/icon/horario.png" alt="Horario"></a>
            <a href="#"><img src="../img/iconos/icon/telefono.png" alt="Teléfono"></a>
        </div>
        <p>&copy; El portal de la moda. Todos los derechos reservados.</p>
    </footer>
    <script src="/Fron end/Javascript/usuarios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>